[Desktop Entry]
Categories=Network;InstantMessaging
Comment=
Exec=Discord
GenericName=All-in-one cross-platform voice and text chat for gamers
Icon=/mnt/ssd/Quick Access/Pictures/Icons/Lavender/ICO/discord.ico
MimeType=x-scheme-handler/discord
Name=Discord
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=discord
Terminal=false
TerminalOptions=
Type=Application
Version=1.4
X-KDE-SubstituteUID=false
X-KDE-Username=
